.browsehappy {
  background-color: #003046;
  display: block;
  padding: 34px;
  margin-bottom: 34px;
  position: relative;
  color: #fff;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.browsehappy a {
  font-weight: bold;
  text-decoration: none;
  color: #1fade0;
}

.browsehappy a:hover {
  color: #95d6ef;
}