// Bourbon
@import "bourbon/bourbon";
@import "neat/neat-helpers";
@import "partials/mobile/grid-settings";
@import "neat/neat";
@import "modules/all";
@import "placeholders/all";
@import "partials/all-base";
@import "partials/all-mobile";

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
  html {
    font-size: 6.8px;
  }
}

// ultra-small desktop
@media only screen
and (min-device-width : 768px) {
  html {
    font-size: 8px;
  }

  .hero--story {
    &.hero--image,
    &.hero--video {
      .hero-information {
        top: 0;
      }
    }
  }

  body.panel--is-open #page-header {
    right: 0;
  }
}

@media only screen
and (max-width: 1080px)
and (-webkit-min-device-pixel-ratio: 3) {

  html{
    font-size: 5px;
  }

}
