.site-logo--light,
.slogan,
.more-stories-toggle,
.social-links,
#page-subscribe,
.story__sticky-mobile,
.mc-form,
.fr,
.more-stories-drawer,
#more-stories,
.trending-topics,
.read-next,
.story__sticky,
.sidebar,
#page-footer,
.modal,
#flyout,
.author-box,
.story__social,
.fb-comments,
.prev-next,
.story-signup {
  display: none !important;
}

.site-logo--dark {
  display: block;
}

.story__main-column {
  width: 90%;
  margin: 0 auto;
  float: none;
}

.story__meta {
  list-style: none;
  margin-left: 0;

  li {
    list-style: none;
    margin-left: 0;
  }
}