html,body {height:100%;}
html {background-color:#0d3058; background-image:none;}
#login h1 a {
background:url(../img/nsc-logo.png) 0 0 no-repeat;
width:300px;
height:146px;
background-size: 100% auto;
margin-left: 35px;
} 
 
body.login {background-color:#fff; min-height:100%; height:auto !important; height:100%;}	/* Top bar background color */
.login p#backtoblog a:link, .login p#backtoblog a:visited {color:#ed423c; text-shadow:none;}	/* Link effects in top bar */
.login p#backtoblog a:hover, .login p#backtoblog a:active {color:#ed423c;}	/* Rollover link effects in top bar */
#loginform {background:none; border:none; box-shadow:none; width:435px; margin-left:-60px; margin-top: 0; padding-bottom: 0;}
#loginform input[type=text], #loginform input[type=password] {width:435px;}
.wp-core-ui .button-primary {background-image:none; background-color:#0d3058; border:2px solid ##0d3058; font-weight: bold; }

.wp-core-ui .button-group.button-large .button, .wp-core-ui .button.button-large { height: 34px; }

.wp-core-ui .button-primary {
  box-shadow: none;
  border-radius: 0px;
}

.wp-core-ui .button-primary.focus, .wp-core-ui .button-primary.hover, .wp-core-ui .button-primary:focus, .wp-core-ui .button-primary:hover {
  box-shadow: none;
  border-color: #ed423c;
  background: #ed423c;
}

.login label {
  color: #fff;
}

.login #backtoblog, .login #nav {
  text-align: center;
  width: 100%;
}