#page-footer {
  height: 13rem;
  width: 100%;

  .container {
    height: 13rem;
  }
}

.site-logo--footer {
  float: left;
  margin-top: 4.6rem;
}

.copyright {
  float: left;
  font-size: 1.3rem;
  top: -0.3rem;
  left: 2.4rem;
  clear: both;
}

.footer-links {
  float: right;
  margin-top: 6rem;
  display: inline-block;
  vertical-align: middle;

  li {
    display: inline-block;
    margin-left: 1.8rem;
  }
}

.footer-links__link {
  color: $gray3;
  font-size: 1.4rem;
}