.form-element {
  margin-bottom: 1.2rem;

  label {
    font-size: 1rem;
    margin-bottom: 0.4rem;
    margin-left: 1.2rem;
  }

  .text-input {
    font-size: 1.8rem;
    padding: 1.4rem 1.6rem;

    &.text-input--thin {
      font-size: 1.4rem;
      padding: 1rem 1.2rem;
    }
  }

  .text-area {
    font-size: 1.4rem;
    padding: 1.4rem 1.6rem;
  }
}

.join-us__email {
  background-color: $white;
  border: 1px solid $gray5;
  border-right-width: 0px;
  position: relative;
  width: 100%;

  input[type="email"] {
    border: 0 none;
    box-shadow: none;
    outline: none;
    padding: 1.2rem 0 0 0;
    line-height: 1.2;
    width: 64%;
  }

  .btn--subscribe {
    background-color: $ns_red2;
    color: $white;
    margin: 0;
    font-family: $oswald;
    font-weight: $regular;
    float: right;

    &:hover {
      background-color: $ns_blue1;
    }
  }

  &:before {
    color: $gray6;
    display: block;
    position: absolute;
  }
}