.hd-a {
  font-size: 6rem;
}

.hd-b {
  font-size: 3.4rem;
}

.hd-c {
  font-size: 1.4rem;
}

.hd-d {
  font-size: 3.4rem;
}

.hd-e {
  font-size: 1.8rem;
}

.hd-f {
  box-shadow: 4rem 0 0 rgba(0,0,0, 0.86), -4rem 0 0 rgba(0,0,0, 0.86);
  font-size: 4rem;
  padding: 0.8rem 0;
}

.hd-g {
  font-size: 2.4rem;
}

.hd-h {
  font-size: 1.8rem;
}

.hd-i {
  font-size: 2.5rem;
}

.hd-j {
  font-size: 5.4rem;
}

.hd-k {
  font-size: 2.4rem;
}

.hd-l {
  font-size: 3.4rem;
  line-height: 1.3;
}

.hd-m {
  font-size: 2.2rem;
  padding: 1rem 1.6rem;
}

.hd-n {
  font-size: 3.4rem;
}

.hd-o {
  font-size: 1.8rem;
}

.hd-q {
  font-size: 5.8rem;
}

.hd-s {
  font-size: 1.8rem;
}

.hd-t {
  font-size: 1.2rem;
}

.hd-u {
  font-size: 2.6rem;
}