/* hero */
.hero--homepage {
  height: 56rem;

  &.hero--grid {
    .hero__entry {
      .type-indicator {
        position: absolute;
        top: 4.4rem;
        right: 4.4rem;
      }

      &.hero__entry--1 {
        height: 56rem;
        width: 60%;
        box-shadow: inset -2px 0 0 $white;

        &:before,
        &:after {
          margin-right: 2px;
        }

        .story__hed {
          margin-bottom: 2.8rem;
        }

        .credit {
          position: absolute;
          right: 4.4rem;
          bottom: 1.8rem;
        }

        .support-cause--hero {
          margin-bottom: 1.4rem;
        }
      }

      &.hero__entry--2 {
        &.hero__entry--2 {
          box-shadow: inset 0 -2px 0 $white;

          &:before,
          &:after {
            margin-bottom: 2px;
          }
        }
      }

      &.hero__entry--2,
      &.hero__entry--3 {
        height: 28rem;
        width: 40%;

        .story__hed {
          margin-bottom: 1.8rem;
          max-width: 50rem;
        }

        .type-indicator {
          width: 5.4rem;
          height: 5.4rem;

          &:before {
            font-size: 2.65rem;
            line-height: 1.8;
          }
        }
      }

      .story--hero {
        padding: 2.4rem 4.4rem;

        .story_dek {
          font-size: 1.8rem;
        }
      }
    }
  }
}

.support-cause--hero {
//  padding: 1rem;

  .support-cause__separator {
    font-size: 3.8rem;
    line-height: 2.5rem;
  }
}

/* river */
.river--one-col {
  .story-teases {
    .story--tease {

      margin-bottom: 0rem;

      &:last-child {
        margin-bottom: 3.4rem;
      }

      .sponsor {
        padding: 0.8rem 1.6rem;
        left: -1rem;
        bottom: 4.6rem;
      }
    }

    .story__feature {
      float: left;
      width: 37.4rem;
      margin-right: 3.8rem;
    }
  }

  .story-teases {
    .story__hed {
      margin-bottom: 1.2rem;
    }
  }
}

.home .carousel {
  margin-top: 2.8rem;
  margin-bottom: 5rem;
}