.modal {
  max-width: 77.2rem;
  top: 56%;
}

.join-us__email {
  font-size: 2.4rem;
  line-height: 5.4rem;
  height: 5.4rem;
  padding-left: 6.6rem;

  input[type="email"] {
    border-radius: 0;
    font-size: 2.4rem;
  }

  .btn--subscribe {
    font-size: 2.4rem;
    line-height: 5.4rem;
    padding: 0 2.8rem;
    height: 5.4rem;
    position: relative;
    top: -1px;
  }

  &:before {
    font-size: 3rem;
    left: 2.2rem;
    top: 0.4rem;
  }
}

.modal__heading {
  margin-bottom: 3.4rem;
}

.modal__close {
  font-size: 3rem;
  top: -3rem;
  right: -4rem;
}

.modal--take-action {
  width: 58.8rem;
}

// join us
.modal--join-us {
  width: 77.2rem;

  .module {
    padding: 2rem 7.6rem 4rem;
  }

  .modal--join-us__social {
    margin-bottom: 2.8rem;

    .btn--bar {
      display: inline-block;
      margin-right: 3.3334%;
      height: 5.4rem;
      vertical-align: middle;
      width: 47.91%;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .modal--join-us__opt-out {
    bottom: -3.4rem;
    font-size: 1.8rem;
  }
}