.hero--story {

  @extend %hero-cover;

  margin-bottom: 8.2rem;

  .story__main-column & {
    margin-bottom: 2.2rem;
  }

  .widescreen__main-column & {
    margin-bottom: 2.2rem;
  }

  &.hero--image,
  &.hero-widescreen-image {
    height: 66vh;
  }

  &.hero--image,
  &.hero-widescreen-image,
  &.hero--video {

    .story__main-column & {
      padding-bottom: 0;
      height: auto;

      img {
        display: block;
        max-width: 100%;
      }

    }

    .widescreen__main-column & {
      height: auto;
      padding-bottom: 0;

      img {
        display: block;
        max-width: 100%;
      }

    }

    .hero-information {
      background-color: $white;
      padding-top: 1.2rem;
      bottom: -3.4rem;
      min-height: 3.5rem;
      max-height: 3.5rem;

      .story__main-column & {
        max-height: none;
        min-height: none;
        position: static;
        bottom: 0;

        .container {
          padding: 0;
        }

      }

      .widescreen__main-column & {
        max-height: none;
        min-height: none;
        position: static;
        bottom: 0;

        .container {
          padding: 0;
        }

      }

      &.is-long {
        &:hover {
          background-color: $ns_navy6;

          .story__main-column & {
            background-color: transparent;
          }

          .widescreen__main-column & {
            background-color: transparent;
          }

        }

        &.is-open {
          background-color: $white;
        }
      }

      .hero-information__caption {
        color: $ns_navy2;
      }

      .hero-information__credit {
        color: $ns_navy4;
      }

      .widescreen-hero-information__caption {
        color: $ns_navy2;
      }

      .widescreen-hero-information__credit {
        color: $ns_navy4;
      }

      .widescreen-hero-information__credit-label {
        font-weight:bold;
      }
    }
  }

  &.hero--carousel {
    .carousel {
      background-color: $ns_navy0;
      height: 42.6rem;
    }

    .carousel__control {
      top: 16.6rem;
    }

    .carousel-item {
      height: 42.6rem;
      width: 82rem;
      min-width: 82rem;
    }

    .carousel--peek__image {
      height: 42.6rem;
      width: 82rem;
    }
  }

  .hero--video__container {
    width: 100%;
//    height: 53.1rem;
    margin: 0 auto;
    padding: 0 0 56.25%;
  }
}

.hero-information {
  .hero-information__caption {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .hero-information__credit {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  .widescreen-hero-information__caption {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .widescreen-hero-information__credit {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

.story__container {
  margin-top: 5rem;

  .story--page {
    > header {
      .story__hed {
        margin-bottom: 3.4rem;
      }

      .story__dek {
        margin-bottom: 4.6rem;
      }
    }
  }

  .story__meta {
    display: block;
    margin-bottom: 1.2rem;

    li {
      font-size: 1.4rem;

      &:first-child {
        &:after {
          margin-left: 0.4rem;
        }
      }
    }
  }

  .story__main-column {
    overflow: hidden;
  }

  .widescreen__main-column {
    overflow: hidden;
  }

  .story__content {
    margin-bottom: 7.2rem;

    p {
      font-size: 1.8rem;
      line-height: 1.5;
      margin-bottom: 2.2rem;

      /* drop cap */
      &:first-child:first-letter {
        font-size: 7.8rem;
        margin-right: 2.6rem;
      }

      a {
        color: $ns_blue1;
        font-weight: $bold;

        &:hover {
          color: $ns_red;
        }
      }
    }

    > h1 {
      margin-bottom: 3.4rem;
      font-size: 5.4rem;
      padding-bottom: 1.2rem;
    }

    > h2 {
      font-size: 4rem;
      margin-bottom: 2.8rem;
    }

    > h3 {
      font-size: 2.4rem;
      margin-bottom: 2.2rem;
    }

    > h4 {
      font-size: 2rem;
      margin-bottom: 2.2rem;
    }

    > h5 {
      font-size: 1.8rem;
      margin-bottom: 2rem;
    }

    > h6 {
      font-size: 1.4rem;
      margin-bottom: 2rem;
    }

    > ol {
      margin: 4rem 0;
      padding-left: 7.6rem;

      li {
        font-size: 1.8rem;
        margin-bottom: 1.8rem;

        &:before {
          font-size: 1.2rem;
          width: 2.4rem;
          height: 2.4rem;
          line-height: 2.4rem;
          margin-right: 1.4rem;
          left: -4.2rem;
        }
      }
    }

    > ul {
      margin: 4rem 0;
      padding-left: 7.6rem;

      li {
        font-size: 1.8rem;
        margin-bottom: 1.4rem;

        &:before {
          left: -3.4rem;
        }
      }
    }
  }
}

/* multimedia */
.multimedia {
  margin: 5rem 0;

  .multimedia__content {
    margin-top: 2.2rem;
  }

  figcaption {
    margin-top: 1rem;
    position: relative;
  }

  &.multimedia--audio {
    .multimedia__content {
      padding-bottom: 2.2rem;
    }
  }
}

/* sticky */
.story__sticky-container {
  margin-bottom: 75px;
  width: 16rem;
  padding-bottom: 2.2rem;
  overflow: hidden;
  height: 100%;

  -webkit-transform: translate3d(0,0,0);

  /*.bottomed {
    position: absolute;
    bottom: 0;
    top: auto;
  }*/

  &.stuck {
    top: 130px;
  }
}

.sticky-social {
  position: relative;
  margin-bottom: 5rem;
  left: 0;

  @include transition(all 0.15s ease-in-out);

  &.is-hidden {
    left: 20rem;
    @include  transform(scale(.5));
  }
}

.sticky-take-action {
  padding: 1.6rem;
  position: relative;
  left: 0;

  @include transition(all 0.15s ease-in-out);

  &.is-hidden {
    left: 20rem;
    @include transform(scale(1.5));
  }
}

.sticky-take-action__heading {
  margin-bottom: 0.8rem;
}

.sticky-take-action__action {
  font-size: 1.6rem;
}

/* tags */
.story__tags {
  margin-bottom: 5rem;
  padding-bottom: 1.4rem;

  .tags-list {
    &:before {
      display: inline-block;
      font-size: 1.6rem;
      margin-right: 1.8rem;
    }

    li {
      margin: 0 1rem 1rem 0;
    }
  }
}

// social
.story__social {
  margin-bottom: 7.2rem;
}

// take action module
.module.take-action {
  margin-bottom: 5rem;
  padding-bottom: 3.4rem;

  .take-action__heading {
    margin-bottom: 3.4rem;
  }

  .take-action__a {
    float: left;
    width: 25.6rem;
  }

  .take-action__a + .take-action__b {
    padding-left: 3.4rem;
  }

  .take-action__b {
    overflow: hidden;
  }

  .take-action__action {
    .btn {
      margin-top: 1.8rem;
    }
  }

  p {
    font-size: 1.8rem;
    line-height: 1.4;
    margin: 0 0 1.8rem;
  }

  small {
    font-size: 1.4rem;
    margin-top: 2.2rem;
  }

  /* tweet politician take action */
  .tweet-politician__message {
    text-align: center;
    font-family: $gudea;
    font-style: italic;
    font-size: 2.2rem;
    border: 1px solid #dedede;
    padding: 1rem;
    background-color: #f7f7f7;
    color: #444;
    margin-bottom: 2.2rem;
    display: block;
    width: 100%;

    &:before {
      color: #2fb8ed;
      font-family: 'icons';
      line-height: 0;
      vertical-align: middle;
      margin-right: 1.2rem;
    }
  }

  .politician {
      clear: both;
      margin: 0 3rem 4.4rem;

      &:first-child {
        margin-top: 3.4rem;
      }
  }

  .politician__photo {
    width: 12rem;
    height: 12rem;
    margin-right: 4rem;
    float: left;
  }

  .politician__information {
    overflow: hidden;
    max-width: 32rem;
  }

  .politician__name {
    margin-top: 0.6rem;
  }

  .politician__office {
    font-size: 1.6rem;
  }
}

.story__container {
  .story__social,
  .story__take-action {
    clear: both;
    position: relative;
    left: -110%;
    margin-top: 7.2rem;

    -webkit-transform: translate3d(0, 0, 0);

    &.is-visible {
      left: 0;
      height: auto;
    }

    @include transition(left 0.3s ease-in-out);
  }
}

.take-action__social_back {
  background: none;
  border: none;
  color: $gray0;
  font-size: 1.6rem;
  position: absolute;
  top: 4.6rem;
}

.list-item {

	.list-item-rank {
		height: 5.2rem;
    	line-height: 5.2rem;
    	padding: 0 .2rem;
  	}
 }

.sponsorship {
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 4.6rem;

  .story--page & {
    font-size: 1.2rem;
  }

  .story--tease &,
  .hero__entry & {
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 1;
    margin-bottom: 0;

    p {
      display: inline-block;
      vertical-align: middle;
    }

    img {
      display: inline-block;
      vertical-align: middle;
      max-width: none;
    }
  }
}