.caption {
   font-size: 1.6rem;
   line-height: 1.4;
 }

.widescreen-caption {
  font-size: 1.8rem;
  line-height: 1.4;
}

.credit,
.byline {
  font-size: 1.4rem;
  line-height: 1.4;
}

.source {
  font-size: 1.4rem;

  &:before {
    height: 1.6rem;
    width: 1.6rem;
    margin-right: 0.6rem;
    top: 0.2rem;
  }
}