{% extends "base.twig" %}

{% block content %}

    <div class="container container--flex">
        <br><br><br>
        <table class="body-wrap" bgcolor="" style="margin: 0;padding: 0;font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;border-collapse: collapse;width: 100%;">

            <!-- main content -->
            <tr style="margin: 0;padding: 0;font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;">
                <td style="margin: 0;padding: 0;font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;vertical-align: top;"></td>
                <td class="container main-container" align="" bgcolor="#ffffff" style="margin: 0 auto;padding: 0;font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;vertical-align: top;padding-bottom: 24px;display: block;max-width: 600px;clear: both;">
                    <div style="width:100%;text-align:center;">
                        <div style="width:100%;max-width: 520px;display:inline-block;text-align:center;font-size:28px;font-weight:bold;margin-top:12px;margin-bottom:2px;">We couldn't find that page...</div>
                        <div style="width:100%;max-width: 520px;display:inline-block;text-align:center;font-size:14px;margin-bottom:16px;">
                            But you might like these stories:</div>
                    </div>
                    <!-- content -->
                    <div class="content item" style="margin: 0 auto;padding: 13px 38px;font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;max-width: 600px;display: block;"><table style="margin: 0;padding: 0;font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;border-collapse: collapse;width: 100%;">

                            <!-- UTAH -->

                            <tr style="margin: 0;padding: 0;font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;vertical-align: top;min-width: 156px; width: 550px;margin-bottom:18px;" align="center"><a href="http://www.nationswell.com/one-state-track-become-first-end-homelessness-2015/?utm_source=newsletter&utm_campaign=welcomeEmail" target="_blank"><img class="tease-image" src="http://pdpf92mymp3pp44my5c1s8gt.wpengine.netdna-cdn.com/wp-content/uploads/2014/02/utahwelcome2.jpg" style="max-width: 550px; display:inline-block;" width="100%" align="center"></a></tr>
                            <tr class="one-col tease" style="margin: 0;padding: 0;font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;vertical-align: top;padding-left: 26px;width:550px;margin-top:20px;">
                                <h4 class="title" style="margin: 0;padding: 0;font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;color: #003046;font-size: 24px;font-weight: bold;line-height: 1.1;margin-bottom: 50px;margin-top:14px;"><a style="color: #003046; text-decoration: none" href="http://www.nationswell.com/one-state-track-become-first-end-homelessness-2015/?utm_source=newsletter&utm_campaign=welcomeEmail">Utah Is on Track to End Homelessness by 2015 With This One Simple Idea</a></h4>
                            </tr>


                            <!-- K-CUPS -->

                            <tr style="margin: 0;padding: 0;font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;vertical-align: top;min-width: 156px; width: 550px;margin-bottom:18px;" align="center"><a href="http://nationswell.com/making-house-calls-people-without-homes/?utm_source=newsletter&utm_campaign=welcomeEmail" target="_blank"><img class="tease-image" src="http://img.youtube.com/vi/MFjcKxx-h7Y/maxresdefault.jpg" style="max-width: 550px; display:inline-block;" width="100%" align="center"></a></tr>
                            <tr class="one-col tease" style="margin: 0;padding: 0;font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;vertical-align: top;padding-left: 26px;width:550px;margin-top:20px;">
                                <h4 class="title" style="margin: 0;padding: 0;font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;color: #003046;font-size: 24px;font-weight: bold;line-height: 1.1;margin-bottom: 50px;margin-top:14px;"><a style="color: #003046; text-decoration: none" href="http://nationswell.com/making-house-calls-people-without-homes/?utm_source=newsletter&utm_campaign=welcomeEmail">Making House Calls to People Without Homes</a></h4>
                            </tr>

                            <!-- BACKPACKS -->

                            <tr style="margin: 0;padding: 0;font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;vertical-align: top;min-width: 156px; width: 550px;margin-bottom:0px;" align="center"><a href="http://nationswell.com/can-recycle-5-things-shouldnt-recycle/?utm_source=newsletter&utm_campaign=welcomeEmail" target="_blank"><img class="tease-image" src="http://nmelp3rtl8l2tnuwd2blzv3ecu.wpengine.netdna-cdn.com/wp-content/uploads/2014/03/recycle.jpg" style="max-width: 550px; display:inline-block;" width="100%" align="center"></a></tr>
                            <tr class="one-col tease" style="margin: 0;padding: 0;font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;vertical-align: top;padding-left: 26px;width:550px;margin-top:20px;">
                                <h4 class="title" style="margin: 0;padding: 0;font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;color: #003046;font-size: 24px;font-weight: bold;line-height: 1.1;margin-bottom: 0px;margin-top:14px;"><a style="color: #003046; text-decoration: none" href="http://nationswell.com/can-recycle-5-things-shouldnt-recycle/?utm_source=newsletter&utm_campaign=welcomeEmail">5 Things You Should Always Recycle, and 5 Things You Shouldn’t</a></h4>
                            </tr>
                        </table></div>
                </td>
            </tr>
        </table>

    </div>


{% endblock %}