<div class="list-item">
    {% include 'component-' ~ mediaType ~ '.twig' ignore missing with media %}
    <h3 class="hd-d list-item-heading">
        <div class="list-item-heading-number">
            <span class="list-item-rank hd-b">{{ rank }}</span>
        </div>
        <span class="list-item-heading-text">{{ heading }}</span>
    </h3>

    {{ body }}
</div>