<p style="display: block; background: #fff6bf; color: #514721; border-color: #ffd324; text-align: center; padding: 15px;">
    <em>You have a [ph] shortcode in your post body without corresponding content.<br/>
        Make sure to remove it before going to production</em>
</p>