<div class="modal modal--take-action cf" data-modal="take-action">
    <div class="modal__content module module--bg module--red take-action cf">

    </div>

    <button class="btn btn--close icon icon_close modal__close" data-modal-action="close"></button>
</div>