{% extends "base.twig" %}

{% block content %}

    {% if post.hero_type != 'small' %}
        {% include 'hero-widescreen.twig' %}
    {% endif %}


    <div class="story__container">
        <div class="container container--flex">

            <main class="widescreen__main-column" role="main">
                {% if post.hero_type == 'small' %}
                    {% include 'hero-widescreen.twig' %}
                {% endif %}
                <article class="story story--page" id="story">
                    <header>
                        <h1 class="hd-j story__hed">{{ post.post_title }}</h1>
                        <h3 class="hd-k story__dek">{{ post.get_field("dek") }}</h3>

                    </header>

                    <div class="story__content">
                        {{ post.get_field("description") }}
                    </div>

                </article>
            </main>
        </div>
    </div>
{% endblock %}

