{% if (post.sponsored_story is not empty) and (post.sponsored_story != '0')  %}
		{% if post.get_field('partnership') %}
    {% else %}
	    <div class="sponsorship-text">
	        <p><a href="http://nationswell.com/sponsored-content-nationswell/">Presented by</a>
	        {% if post.sponsor_image is not empty %}
	            {% if post.sponsor_link is not empty %}<a href="{{ post.sponsor_link }}" target="_blank">{% endif %}
	                <img src="{{ TimberImage(post.sponsor_image).src|resize(88) }}"/>
	            {% if post.sponsor_link is not empty %}</a>{% endif %}
	        {% else %}<span>{{ post.sponsor_name }}</span>
	        {% endif %}
	        </p>
	    </div>
    {% endif %}
{% endif %}