<div class="module module--bg module--sidebar module--red" data-module='{"name": "sidebar:text"}'>
    <header>
        <div class="indicator indicator--blue indicator--module icon icon_star"></div>
    </header>
    <p style="font-weight:bold">{{ title }}</p>
    <p>{{ description }}</p>
</div>
