<div class="module module--bg module--sidebar module--blue contact hide_mobile">
    <header>
        <div class="indicator indicator--blue indicator--module icon icon_contact"></div>
        <h3 class="hd-e module__heading">{{ title }}</h3>
    </header>

    <p>{{ description }}</p>

    <a href="{{ button_link }}" class="btn btn--bar btn--blue">{{ button_text }}</a>
</div>