/**
 * buttons
 */
.btn--solid {
  font-size: 1.76rem
}

.btn {
  &.btn--take-action {
    font-size: 1.74rem;
  }
}

/**
 * components
 */
.indicator {
  &.indicator--module {
    &:before {
      font-size: 5.8rem;
    }
  }
}

.google_top_posts {
  width: 100%;
}

/* module */
.module {
  &.module--sidebar {
    width: 100%;
  }

  &.module--list {
    &.module--horizontal {
      margin: 5rem 0;

      .story-list li {
        margin-right: 4%;
      }
    }
  }
}