/**
 * structure
 */
.container {
  max-width: 98.4rem;
  padding: 0 2rem;

  &.container--flex {
    width: auto;

    display: block;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
  }
}

#page-wrapper {
  min-width: 768px;
  width: 100%;
}

.story__sticky {
  -webkit-box-flex: 1;
  width: auto;
  min-width: 14.6rem;
  max-width: 15.63786%;
}

.story__main-column {
  -webkit-box-flex: 1;
  width: auto;
  max-width: 49.38272%;
  float: none;
  padding-left: 2rem;
}

.widescreen__main-column {
  -webkit-box-flex: 1;
  width: auto;
  float: none;
  padding-left: 2rem;
}

.sidebar {
  -webkit-box-flex: 1;
  padding-left: 2rem;

  width: auto;
  min-width: 32rem;
  max-width: 32.51029%;
}

.hero .hero-information .hero-information__content {
  margin-left: 0;
  width: 100%;
}

.hero .hero-information .hero-information__caption {
  margin-left: 0;
}

.hero .hero-information .hero-information__credit {
  float: right;
}

.hero .hero-information .widescreen-hero-information__caption {
  margin-left: 0;
}

.hero .hero-information .widescreen-hero-information__credit {
  float: right;
}

.river {
  .story-teases {
    -webkit-box-flex: 1;
    width: auto;
    min-height: 25px;

    &:last-child {
      margin-right: 1.23457%;
    }
  }

  &.river--one-col {
    .story-teases {
      .story__feature {
        width: 50%;
      }
    }
  }
}

.module.module--list.module--horizontal .story-list li {
  margin-right: 3.82%;
}

.footer-links {
  position: absolute;
  bottom: 3rem;
  right: 0;
  max-width: 41.5rem;
  margin-top: 0;
}

// widescreen column width
.widescreen__main-column {
  display:block;
  float:none;
  margin-right: flex-gutter(container-span(6));
}