body {
	background-color:#eee;
	font-family: "Montserrat", Arial, sans-serif;
	font-size:24px;
	color:#000;
	text-align:center;
	line-height:40px;
}
h1 {
	margin-bottom:50px;
  font-family: "Oswald", Arial, sans-serif;
  line-height:60px;
}
#main {
	width:700px;
	display:inline-block;
}
#input {
	margin-bottom:50px;
}
#inputurl {
	width:90%;
	font-size:12px;
	border:0px;
    padding:8px;
}
#buttonrow
{
	display:inline-block;
	margin-bottom:50px;
}
#mic {
	width:200px;
	color:#fff;
	background-color:#4099ff;
    border:2px solid #4099ff;
	display:inline-block;
	margin:0px;
	margin-left:10px;
	margin-right:10px;
	padding-bottom:10px;
	padding-top:10px;
	margin-top:20px;
}
#mic:hover {
	cursor:pointer;
	background-color:#50a9ff;
    border:2px solid #50a9ff;
}
#takepart {
	width:200px;
	color:#fff;
	background-color:#01BF9E;
    border:2px solid #01BF9E;
	display:inline-block;
	margin:0px;
	margin-left:10px;
	margin-right:10px;
	padding-bottom:10px;
	padding-top:10px;
	margin-top:20px;
}
#takepart:hover {
	cursor:pointer;
	background-color:#11cFaE;
    border:2px solid #11cFaE;
}

#huffpostimpact {
    width:200px;
    color:#f61784;
    background-color:#f3f3f3;
    border:2px solid #f61784;
    display:inline-block;
    margin:0px;
    margin-left:10px;
    margin-right:10px;
    padding:10px;
    margin-top:20px;
}
#huffpostimpact:hover {
    cursor:pointer;
    color:#f62794;
    background-color:#fff;
    border:2px solid #f62794;
}

#yesmag {
    width:200px;
    color:#fff;
    background-color:#8e241b;
    border:2px solid #8e241b;
    display:inline-block;
    margin:0px;
    margin-left:10px;
    margin-right:10px;
    padding:10px;
    margin-top:20px;
}

#yesmag:hover {
    cursor:pointer;
    background-color:#9e342b;
    border:2px solid #9e342b;
}

#outreach {
	width:200px;
	color:#fff;
	background-color:#000;
	display:inline-block;
	margin:0px;
	margin-left:10px;
	margin-right:10px;
	padding-bottom:10px;
	padding-top:10px;
	margin-top:20px;
}
#outreach:hover {
	cursor:pointer;
	background-color:#333;
}
#outputurl {
	width:90%;
	font-size:18px;
	background-color:#fff;
	padding:10px;
	resize:none;
	border:0px;
}