.hd-a {
  font-size: 5.4rem;
}

.hd-b {
  font-size: 5.4rem;
  line-height: 1.2;
}

.hd-c {
  font-size: 2.5rem;
}

.hd-d {
  font-size: 6rem;
}

.hd-e {
  font-size: 3.6rem;
}

.hd-f {
  box-shadow: 4rem 0 0 rgba(0,0,0, 0.86), -4rem 0 0 rgba(0,0,0, 0.86);
  font-size: 5.4rem;
  padding: 1rem;
}

.hd-g {
  font-size: 4rem;
}

.hd-h {
  font-size: 3.2rem;
}

.hd-i {
  font-size: 2.5rem;
}

.hd-j {
  font-size: 6.2rem;
}

.hd-k {
  font-size: 4.2rem;
}

.hd-l {
  font-size: 3.4rem;
  line-height: 1.4;
}

.hd-m {
  box-shadow: 2rem 0 0 $ns_red, -2rem 0 0 $ns_red;
  font-size: 4rem;
  padding: 0 0 0.2rem;
}

.hd-n {
  font-size: 6rem;
}

.hd-o {
  font-size: 1.8rem;
}

.hd-p {
  font-size: 6rem;
}

.hd-q {
  font-size: 6rem;
}

.hd-r {
  font-size: 2.5rem;
}

.hd-u {
  font-size: 4.2rem;
}