.portal__main-column {
  width: 100%;

  .static__content p,
  .static__content ul {
    font-size: 3.2rem;
    line-height: 1.32;
    padding: 1.6rem 1.6rem;
    -webkit-font-smoothing: antialiased;
    color: $white;
  }

}

#portal-nav {
  .portal-tabs {
    padding-right: 0;
    ul {
      padding: 0;
    }
  }
}

#directory-nav {
  display: block;
  width: 100%;
  padding-bottom: 1.5rem;
  padding-right: 0;

  #member-title {
    display: block;
    width: 100%;
    padding: 1rem;
    margin-bottom: 0.5rem;
  }


  #directory-tabs {
    display: block;
    width: 100%;

    ul {
      width: 100%;
      li {
        font-size: 3rem;
      }
    }
  }
}

.contacts .contact-info {
  .about-contact {
    width: 60%;
  }
  .contact-image{
    display: inline-block;
    padding: 0 2rem;
    .contact__portrait {
      display: inline-block;
    }
    h1 {
      display:none;
    }
  }

  @media screen and (max-width: 410px) {
    .about-contact {
      width: 100%;
      padding: 2rem 0 0;

      h1 {
        display: none;
      }

      .bio-content {
        font-size: 2.5rem;
      }
    }

    .contact-image{
      display: block;
      padding: 0;
      .contact__portrait {
        width: 35%;
      }
      h1 {
        display: inline-block;
        width: 40%;
        padding: 4rem 0 0 4rem;
        vertical-align: top;
      }
    }
  }
}