.static__container {
  margin-top: 7.6rem;

  .static__hed {
    margin-bottom: 1.2rem;
  }

  .static__last-updated {
    font-size: 4.2rem;
    margin-bottom: 4.6rem;
  }

  .static__content {
    font-size: 3.2rem;
    line-height: 1.32;
    margin-bottom: 22.6rem;
    -webkit-font-smoothing: antialiased;

    img {
      max-width: 100%;
      height: auto;
    }

    p {
      font-size: 3.2rem;
      line-height: 1.32;
      margin-bottom: 3.2rem;
      -webkit-font-smoothing: antialiased;
    }

    a {
      color: $ns_blue1;
      font-weight: $bold;

      &:hover {
        color: $ns_red;
      }
    }

    > h1 {
      margin-bottom: 3.4rem;
      font-size: 5.4rem;
      padding-bottom: 1.2rem;
    }

    > h2 {
      font-size: 4rem;
      margin-bottom: 2.8rem;
      > h3 {
        font-size: 2.4rem;
    }

      margin-bottom: 2.2rem;
    }

    > h4 {
      font-size: 2rem;
      margin-bottom: 2.2rem;
    }

    > h5 {
      font-size: 1.8rem;
      margin-bottom: 2rem;
    }

    > h6 {
      font-size: 1.4rem;
      margin-bottom: 2rem;
    }

    > ol {
      margin: 7.6rem 0;
      padding-left: 11rem;

      li {
        font-size: 3.2rem;
        margin-bottom: 4.2rem;

        &:before {
          font-size: 2.4rem;
          width: 4rem;
          height: 4rem;
          line-height: 4rem;


          left: -7.6rem;
          top: -0.4rem;
        }
      }
    }

    > ul {
      margin: 7.6rem 0;
      padding-left: 11rem;

      li {
        font-size: 3.2rem;
        margin-bottom: 4.2rem;

        &:before {
          font-size: 3.6rem;
          top: 0rem;
          left: -6.6rem;
        }
      }
    }
  }
}