%btn--submit {
  background-color: $ns_red2;
  color: $white;
  margin: 0;
  font-family: $oswald;
  font-weight: $regular;
  float: right;

  &:hover {
    background-color: $ns_blue1;
  }
}

.password-form {
  width: 40rem;
  margin: 5rem auto;
  overflow: hidden;

  .password-form-copy {

    p {
      font-family: $gudea;
      font-size: 2.0rem;
      margin-bottom: 3rem;
      line-height: 1.4;
    }
  }

  .form-element {
    label {
      font-size: 1.8rem;
      margin-left: 0;
    }
  }

  .password-box {
    @include flex(2 0 0);
  }

  .password-btn {
    @extend %btn--submit;
    font-size: 1.8rem;
    text-transform: uppercase;
    @include flex(.75 0 0);
  }
}

.form-element {
  float: left;
  clear: left;
  width: 100%;
  position: relative;

  &.form-element--one-third {
    width: 32%
  }

  &.form-element--two-third {
    width: 66%;
  }

  &.form-element--one-third,
  &.form-element--two-third,
  &.form-element--half {
    margin-right: 2%;
  }

  &.form-element--right {
    clear: right;
    float: right;
  }

  &.form-element--omega {
    margin-right: 0;
  }

  label {
    display: block;
    color: $ns_black;
    font-family: $gudea;
    font-weight: $bold;
    text-transform: uppercase;
  }

  .text-input,
  .text-area {
    background-color: $white;
    border: 1px solid #e6e6e6;
    border-radius: 0.2rem;
    box-shadow: inset 0 0.2rem 0.7rem rgba(0,0,0, 0.08);
    font-family: $gudea;
    outline: none;
    width: 100%;

    -webkit-font-smoothing: antialiased;

    @include appearance(none);
  }

  select {
    width: 100%;
  }

  .error {
    margin-top: 0.6rem;
    color: $ns_red;
    text-transform: none;
    font-size: 1.5rem;
    font-weight: $regular;
  }
}

.join-us__email {
  background-color: $white;
  border: 1px solid $gray5;
  border-right-width: 0px;
  position: relative;
  width: 100%;

  input[type="email"] {
    border: 0 none;
    box-shadow: none;
    outline: none;
    padding: 1.2rem 0 0 0;
    line-height: 1.2;
    width: 70%;
    -webkit-user-select: auto;
  }

//  @extend %btn--submit;

  &:before {
    font-family: 'icons';
    color: $gray6;
    display: block;
    position: absolute;
  }
}

.form-errors {
  clear: both;
  font-family: $gudea;
  font-weight: $regular;
  color: $ns_red1;
}