.hd-a {
  color: $white;
  font-family: $oswald;
  line-height: 1;
  font-weight: $regular;
  -webkit-font-smoothing: antialiased;
}

.hd-b {
  color: $white;
  font-family: $oswald;
  line-height: 1.2;
  font-weight: $regular;
  -webkit-font-smoothing: antialiased;
}

.hd-c {
  color: $white;
  font-family: $montserrat;
  line-height: 1;
  font-weight: $bold;
  -webkit-font-smoothing: antialiased;
}

.hd-d {
  color: $ns_navy2;
  font-family: $oswald;
  line-height: 1.2;
  font-weight: $regular;
  -webkit-font-smoothing: antialiased;
}

.hd-e {
  color: $white;
  font-family: $oswald;
  line-height: 1.5;
  font-weight: $regular;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

.hd-f {
  background-color: rgba(0,0,0, 0.86);
  color: $white;
  display: inline;
  font-family: $noto-serif;
  font-weight: $bold;
  line-height: 1.8;
  -webkit-font-smoothing: antialiased;
}

.hd-g {
  color: $ns_blue1;
  font-family: $oswald;
  font-weight: $regular;
  line-height: 1;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

.hd-h {
  color: $ns_black;
  font-family: $gudea;
  font-weight: $bold;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
}

.hd-i {
  color: $white;
  font-family: $oswald;
  line-height: 1.3;
  font-weight: $regular;
  -webkit-font-smoothing: antialiased;
}

.hd-j {
  color: $ns_black;
  font-family: $oswald;
  font-weight: $regular;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
}

.hd-k {
  color: $ns_black;
  font-family: $gudea;
  font-weight: $regular;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}

.hd-l {
  color: $ns_black;
  font-family: $oswald;
  font-weight: $regular;
  -webkit-font-smoothing: antialiased;
}

.hd-m {
  background-color: $ns_red;
  color: $white;
  display: inline-block;
  font-family: $oswald;
  font-weight: $regular;
  -webkit-font-smoothing: antialiased;
  padding: 1rem 1.6rem;
}

.hd-n {
  color: $ns_navy2;
  font-family: $oswald;
  font-weight: $regular;
  -webkit-font-smoothing: antialiased;
}

.hd-o {
  color: $ns_navy2;
  font-family: $oswald;
  font-weight: $regular;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.hd-p {
  color: $ns_navy2;
  font-family: $noto-serif;
  font-weight: $bold;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
}

.hd-q {
  color: $ns_navy2;
  font-family: $oswald;
  font-weight: $regular;
}

.hd-r {
  color: $ns_red;
  font-family: $montserrat;
  font-weight: $regular;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

.hd-s {
  color: $white;
  font-family: $oswald;
  font-weight: $regular;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

.hd-t {
  color: $white;
  font-family: $montserrat;
  line-height: 1;
  font-weight: $bold;
  -webkit-font-smoothing: antialiased;
}

.hd-u {
  color: $ns_navy2;
  font-family: $oswald;
  line-height: 1.4;
  font-weight: $regular;
  -webkit-font-smoothing: antialiased;
}