/* hero */
.hero--homepage {
  &.hero--grid {
    .hero__entry {
      background-color: $ns_navy3;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      display: block;
      position: relative;
      float: left;

      &:hover {
        .story__hed {
          text-shadow: 0px 1px 2px rgba(0,0,0, 0.75);
//          color: $ns_blue5;
        }
      }

      .story__hed {
        text-shadow: 0px 1px 2px rgba(0,0,0, 0.2);

        @include transition(all 0.3s ease-in-out);

        a {
          color: inherit;
        }
      }

      &:before {
        content: '';
        background-image: url('../img/overlay_mesh.png');
        background-repeat: repeat;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.6;
      }

      &:after {
        content: '';
        background-image: url('../img/hero-gradient.png');
        background-repeat: repeat-x;
        background-position: bottom left;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      .story--hero {
        position: absolute;
        bottom: 0;
        width: 100%;

        .story_dek {
          font-family: $gudea;
          color: $white;
          line-height: 1.4;
        }
      }
    }
  }
}

.support-cause--hero {
  display: inline-block;

  .support-cause__heading {
    color: $white;
  }

  .support-cause__data {
    color: $white;
  }

  .support-cause__label {
    color: $white;
  }

  .support-cause__message {
    color: $white;
  }

  .support-cause__separator {
    color: $white;
    margin: 0;
  }
}

/* river */
.river--one-col {
  .story-teases {
    .story--tease {
      &:hover {
        background-color: $gray7;
        box-shadow: 2rem 0 0 $gray7, -2rem 0 0 $gray7;
      }

      .sponsor {
        background-color: $ns_blue1;
        color: $ns_blue6;
        position: absolute;
        text-align: left;
        display: inline-block;
      }
    }

    .story__feature {
      position: relative;

      img {
        display: block;
      }
    }

    // force block layout
    .story__header {
      overflow: hidden;
    }
  }
}