.fl { float: left; }
.fr { float: right; }

.tl { text-align: left; }
.tc { text-align: center; }
.tr { text-align: right; }

.z1 { z-indeX: 1; }
.z2 { z-index: 2; }
.z3 { z-index: 3; }
.z4 { z-index: 4; }
.z5 { z-index: 5; }

/* http://www.css-101.org/articles/clearfix/latest-new-clearfix-so-far.php */
.cf:after {
  content: "";
  display: table;
  clear: both;
}

.link-wrapper {
  outline: 0px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  display: block;
}

.v-align {
  display: table;
  position: absolute;
}

.v-align__inner {
  display: table-cell;
  text-align: center;

  &.v-align__inner--bottom {
    vertical-align: bottom;
  }

  &.v-align__inner--center {
    vertical-align: middle;
  }
}

.stuck {
  position: fixed;
  -webkit-transform: translate3d(0,0,0);
}

.hide {
  display: none;
}

.show {
  display: block;
}

.fb_iframe_widget {
  overflow: hidden;
}